<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.vallesoft.valletpv" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Camareros"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Arqueo"
            android:label="@string/title_activity_arqueo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferenciasTPV"
            android:label="@string/title_activity_preferencias_tpv" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Mesas"
            android:label="@string/title_activity_mesas" >
        </activity>
        <activity
            android:name=".Cuenta"
            android:label="@string/title_activity_cuenta"
            >
        </activity>
        <activity
            android:name=".OpMesas"
            android:label="@string/title_activity_op_mesas" >
        </activity>

        <service
            android:name=".Util.ServicioCom"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
