<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.vallesoft.comandas" >

    <uses-permission android:name="android.permission.INTERNET" />

       <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Camareros"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Preferencias"
            android:label="PreferenciasTpv" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Mesas"
            android:label="Elegir Mesa" >
        </activity>
        <activity
            android:name=".Comanda"
            android:label="@string/title_activity_comanda" >
        </activity>
        <activity
            android:name=".Buscador"
            android:label="@string/title_activity_buscador" >
        </activity>
        <activity
            android:name=".OpMesas"
            android:label="@string/title_activity_op_mesas" >
        </activity>
        <activity
            android:name=".Cuenta"
            android:label="@string/title_activity_cuenta" >
        </activity>
        <activity
            android:name=".MostrarPedidos"
            android:label="@string/title_activity_mostrar_pedidos" >
        </activity>
        <activity
            android:name=".Sugerencias"
            android:label="@string/title_activity_sugerencias" >
        </activity>

        <service
            android:name=".Util.ServicioCom"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
